html, body, ul, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}
button {
    cursor: pointer;
}
.tp-button {
    background-color: #ffdf4a;
    border: none;
    border-bottom: 2px solid #dfc137;
    cursor: pointer;
    font-family: "RobotoRegular", sans-serif;
    font-size: 18px
}
header {
    background: $blue;
    nav {
        overflow: hidden;
        max-width: 1200px;
        margin: 0 auto; 
        ul  {
            li {
                float: left;
                padding: 10px;
                list-style: none;
                position: relative;
                    a {
                        text-decoration: none;
                        color: #fefefe;
                        font-family: "RobotoMedium", sans-serif;
                    }
                    &:first-child {
                        background-image: url(../img/home.png);
                        width: 30px;
                        height: 19px;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                    }
                    &:after {
                        content: '';
                        width: 1px;
                        height: 20px;
                        right: 0;
                        background:#408ecb;
                        position: absolute;
                        top: calc(50% - 10px);
                    }
                }
        }
        .header__schedule {
            float: left;
            padding: 10px;
            color: #fefefe;      
        }
        .header__main-panel {
            float: right;
            display: flex;
            align-items: center;
            height: 40px;
            .header__main-panel-item {
                float: left;  
                width: 30px;
                height: 19px;   
                padding: 4px; 
                background-image: url(../img/social_sprite.png);
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                &:first-child {
                    background-position-x: 6px; 
                }
                &:nth-child(2) {
                    background-position-x: -29px; 
                }
                &:nth-child(3) {
                   /*  background-position-x: -52px;  */
                }
                &:nth-child(4) {
                    background-position-x: -98px; 
                }
                &:nth-child(5) {
                    background-position-x: -132px; 
                }
            }
        }
    } /* nav end */

    .nav {
        display: none; 
    }
    .header__logo {
        box-shadow: 0px 1px 3px #000;
        padding: 20px 0 10px;
        background: #ffffff;
        .header__logo-wrap {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            .header__logo-item {
                width: 22.5%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 26px;
                .header__logo-item-wrap {
                    width: 100%;
                }
                .header__logo-item-top {
                    span {
                        text-transform: uppercase;
                    }
                }
                .header__logo-item-bottom {
                    font-size: 12px;
                    font-family: "RobotoLight", sans-serif;
                }
                &:first-child {
                    padding-left: 90px;
                    background-image: url(../img/logo.png);
                    background-repeat: no-repeat;
                    background-position: 5px center;
                    background-size: 70px;
                    width: 27%;
                    font-size: 30px;
                    font-family: "ManiaC", sans-serif;
                }
                .tp-button {
                    padding: 10px 10px 10px 30px;
                    background-image: url(../img/phone.png);
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    background-size: 13px;
                }
                a {
                    text-decoration: none;
                    color: #000;
                    border-bottom: 1px dashed  #000;
                    position: relative;
                    font-family: "RobotoBold", sans-serif;
                    font-size: 24px;
                    &:before {
                        content: '';
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        background-image: url(../img/phone2.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        left: -45px;
                        top: -5px;
                    }
                }
                &:nth-child(3) {
                    font-size: 24px;
                    width: 24.5%;
                    a {
                        &:before {
                            background-image: url(../img/master-call.png);
                        }
                    }
                }
                &:last-child {
                    width: 17%;
                    display: block;
                    button {
                        width: 100%;
                    }
                }
                .header__block-item-schedule {
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                    padding: 10px 0 10px 20px;
                    background-image: url(../img/clock.png);
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 21px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 14px;
                    box-sizing: border-box;
                }
            }
        }
    }
} /* header end */

/* ---------- first section ----------- */
.first__section {
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 3px #ccc;
    position: relative;
    z-index: 1;
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .first__section-block {
            /* border: 1px solid #c00; */
            width: 25%;
            padding-top: 90px;
            padding-bottom: 30px;
            background-repeat: no-repeat;
            background-position: center 20px;
            background-size: 60px;
            text-align: center;
            font-size: 18px;
            font-family: "RobotoRegular", sans-serif;
            .first__section-block-text {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 14px;
                font-family: "RobotoLight", sans-serif;
                padding: 0 5px;
            }
            &:nth-child(1) {
                background-image: url(../img/hand-shake.png);
                background-position: center 35px;
            }
            &:nth-child(2) {
                background-image: url(../img/gift.png);
            }
            &:nth-child(3) {
                background-image: url(../img/low-cost.png);
            }
            &:nth-child(4) {
                background-image: url(../img/nbook.png);
            }
            a {
                color: #000;
                text-decoration: none;
                font-size: 14px;
                font-family: "RobotoLight", sans-serif;
            }
            button {
                background: none;
                border: none; 
                background-image: url(../img/arrow.png);
                background-color: #0068ba;
                background-repeat: no-repeat;
                background-position: center center;
                /* background-size: 60px; */
                border-radius: 50%;
                height: 15px;
                width: 15px;
            }
        }
    }
}

/* ---------- second section ----------- */
.second__section {
    width: 100%;
    background: #f4f4f4;
    padding: 2% 0;       
    box-shadow: 0px 4px 3px #ccc;
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;
        background: #ffffff;
        position: relative;
        min-height: 300px;
        box-sizing: border-box;
        .second__section-inner {
            border: 1px solid $blue;
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            .second__section-inner-header {
                text-transform: uppercase;
                text-align: center;
                font-family: "RobotoRegular", sans-serif;
                font-size: 13px;
            }
            .second__section-inner-slider {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: "RobotoLight", sans-serif;
                font-size: 16px;
                padding-right: 20%;
                margin-top: 35px;
                #slider {
                    width: 70%;
                    height: 4px;
                    background: #d0d0d0;
                    border: none;
                    .ui-slider-handle {
                        position: relative;
                        display: block;
                        border-radius: 50%;
                        outline: none;
                        top: -.5em;
                        background: #fff;
                        border: 1px solid  $blue;
                        .tooltip {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            top: -25px;
                            margin-left: -6px;
                            height: 20px;
                            width: 30px;
                            box-shadow: 0px 1px 5px #e5e5e5;
                            color: $blue;
                            font-family: "RobotoBold", sans-serif;
                            font-size: 18px;
                            border: none;
                            text-align: center;
                        }
                    }
                    .ui-slider-range-min {
                        background: $yellow;
                    }
                }
            }
            .second__section-inner-select {
                margin: 35px 0;
                display: flex;
                justify-content: space-between;
                padding-right: 20%;
                font-family: "RobotoLight", sans-serif;
                font-size: 16px;
                .canvas {
                    width: 30%;
                }
                .corners {
                    width: 20%;
                }
                .lamps {
                    width: 20%;
                }
                button {
                    text-transform: uppercase;
                    padding: 17px 17px 17px 40%;
                    background-image: url(../img/calc.png);
                    background-repeat: no-repeat;
                    background-position: 20px center;
                    background-size: 30px;
                    /* outline: none; */
                }
                select {
                    width: 100%;
                    height: 40px;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    background-image: url(../img/arrow-down.jpg);
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-size: 40px;
                    padding-right: 40px;
                    
                }
            }
            .second__section-inner-info {
                text-align: center;
                padding-right: 20%;
                font-family: "RobotoLight", sans-serif;
                font-size: 14px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    color: $blue;
                    &.sign {
                        width: 40px;
                        height: 40px;
                        background-image: url(../img/info.png);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
            .second__section-img {
                position: absolute;
                right: 10px;
                top: -5px;
                .second__section-result {
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    margin-left: -13%;
                    color: #fff;
                    text-align: center;
                    .second__section-result-text {
                        font-family: "RobotoLight", sans-serif;
                        font-size: 30px;
                        text-decoration: underline;

                    }
                    .second__section-result-price {
                        font-family: "RobotoBold", sans-serif;
                        font-size: 50px;

                    }
                    .second__section-result-unit {
                        font-family: "RobotoLight", sans-serif;
                        font-size: 18px;

                    }
                }
            }
    }
}


/* ---------- third section ----------- */
.third__section {
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .third__section-block {
            height: 350px;
            text-align: center;
            display: flex;
            align-items: center;  
            .third__section-block-wrap {
                .third__section-block-header, .third__section-block-text {
                    width: 90%;
                    text-transform: uppercase;
                }
                .third__section-block-header {
                    color: #000;
                    font-size: 20px;
                    font-family: "RobotoBlack", sans-serif;
                }
                .third__section-block-text {
                    color: #000;
                    font-family: "RobotoLight", sans-serif;
                }
                input, button {
                    box-sizing: border-box;
                    width: 60%;
                    height: 50px;
                    margin-bottom: 10px;
                    padding: 0 10px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 16px;
                }
                button {
                    font-size: 24px !important;
                    @include pressed;
                }
            }
        }
    }
}

/* ---------- fourth section ----------- */
.fourth__section {
    
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;
        padding-bottom: 2%;
        .fourth__section-block-header {
            padding-top: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            text-transform: uppercase;
            font-family: "RobotoBlack", sans-serif;
            font-size: 20px;
        }
        .fourth__section-block {
            position: relative;
            margin-top: 2%;
            box-sizing: border-box;
            border: 1px solid  #dcdcdc;
            height: 400px;
            width: 32%;
            float: left;
            &:nth-child(3n+2) {
                margin-right: 2%;
                .fourth__section-block-photo {
                    background-image: url(../img/pic1.jpg);
                }
            }
            &:nth-child(3n+3) {
                margin-right: 2%;
                .fourth__section-block-photo {
                    background-image: url(../img/pic2.jpg);
                }
            }
            &:nth-child(3n+4) {
                .fourth__section-block-photo {
                    background-image: url(../img/pic3.jpg);
                }
            }
            .fourth__section-block-photo {
                /* background-image: url(../img/pic1.jpg); */
                background-repeat: no-repeat;
                background-size: cover;
                height: 325px;
            }
            .fourth__section-block-cost {
                height: 75px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-top: 1px solid #dcdcdc;
                .fourth__section-block-cost-price {
                    max-width: 100px;
                    background-color: #fddf4a;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: baseline;
                    padding: 0 5px;
                    font-family: "RobotoRegular", sans-serif;
                    font-size: 16px;
                    strong {
                        font-size: 24px;
                    }
                }
                .fourth__section-block-cost-detail {
                    button {
                        width: 200px;
                        border: 1px solid  #0068ba;
                        color: #0068ba;
                        background: none;
                        height: 40px;
                        cursor: pointer;
                        font-family: "RobotoLight", sans-serif;
                        font-size: 18px;
                        transition: background .5s;
                        outline: none;
                        &:hover {
                            background: #0068ba;
                            color: #fff;
                        }
                    }
                }
            }
            .fourth__section-block-info {
                height: 85px;
                position: absolute;
                background-color: rgba(0,0,0,.7);
                bottom: 90px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 18px;
                font-family: "RobotoRegular", sans-serif;
            }
        }
    }
}

/* ---------- fifth section ----------- */
.fifth__section {
    background: #f4f4f4;
    padding-top: 2%;
    .wrapper {
        min-height: 400px;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;
        padding-bottom: 2%;
        display: flex;
        .fifth__section-block {
            text-align: center;
            display: flex;
            align-items: center;
            padding: 10px;
            background: #fff;
            box-sizing: border-box;
            &:first-child {
                padding: 0 20px;
                background-image: url(../img/bg4.jpg);
                background-size: cover;
                background-repeat: no-repeat; 
                margin-right: 2%;
                .fifth__section-block-wrap {
                    border: none;
                    .fifth__section-block-header {
                        color: $yellow;
                    }
                    .fifth__section-block-text {
                        color: #fff;
                    }
                }
            }
            .fifth__section-block-wrap {
                border: 1px solid  $blue;
                height: 100%;
                padding: 1%;
                box-sizing: border-box;
                .fifth__section-block-header {
                    color: $blue;
                    text-transform: uppercase;
                    font-family: "RobotoBlack", sans-serif;
                    font-size: 20px;
                    margin-top: 40px;
                    margin-bottom: 30px;
                }
                .fifth__section-block-text {
                    color: #000;
                    margin-bottom: 50px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 20px;
                }
                button {
                    width: 60%;
                    height: 45px;
                    margin-top: 19px;
                    @include pressed;
                    &.calculate {
                        width: 49%;
                        position: relative;
                        top: -2px;
                        margin-top: 0;
                    }
                }

                .fifth__section-block-inputs {
                    input {
                        box-sizing: border-box;
                        width: 49%;
                        height: 45px;
                        padding: 0 10px;
                        margin: 0 2px 5px 0;
                        border: none;
                        font-family: "RobotoLight", sans-serif;
                        font-size: 16px;
                        border: 1px solid  #dcdcdc;
                        &.square {
                            position: relative;
                            margin-left: -2px;
                            /* &:after {
                                content: 'в М2';
                                height: 45px;
                                width: 45px;
                                border-right: 1px solid  #dcdcdc;
                                position: absolute;
                                top: 0;
                                right: 0;
                            } */
                        }
                    }
                }
            }
        }
    }
}

/* ---------- six section ----------- */
.six__section {

        box-shadow: 0 3px 5px #d0d0d0;         
    .wrapper {
        border-top: 1px solid  #d0d0d0;
        background-image: url(../img/pic4_1.jpg);
        background-size: 175%;
        background-repeat: no-repeat;
        background-position: 50% 80%;
        height: 700px;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        .six__section-header {
            text-transform: uppercase;
            font-weight: 700;
            width: 35%;
            position: absolute;
            top: 20px;
            left: 180px;
            text-align: center;
            font-family: "RobotoBlack", sans-serif;
            font-size: 20px;
        }
        .six__section-text {
            position: absolute;
            top: 18%;
            width: 40%;
            left: 150px;
            font-size: 16px;
            font-family: "RobotoLight", sans-serif;
            text-align: justify;
        }
    }
}

/* ---------- seventh section ----------- */
.seventh__section {
        background-image: url(../img/pic5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 40px;
    .wrapper {
        padding-top: 20px;
        min-height: 700px;
        max-width: 1200px;
        margin: 0 auto;
        .seventh__section-header-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            hr {
                height: 1px;
                background: #000;
                width: 50%;
                border: none;
            }
            .seventh__section-header {
                text-transform: uppercase;
                font-weight: 700;
                width: 50%;
                top: -35px;
                left: calc(50% - 12.5%);
                text-align: center;
                font-family: "RobotoBold", sans-serif;
                font-size: 20px;
            }
        }
            .seventh__section-block-wrap {
                overflow: hidden;
                width: 100%;
                .seventh__section-block {
                    border: 3px solid  #fff;
                    float: left;
                    width: 24.6%;
                    height: 280px;
                    margin-bottom: 4px;
                    box-sizing: border-box;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    box-shadow: 5px 5px 5px #d0d0d0;
                    position: relative;
                    &:nth-child(3n+1) {
                        margin-right: 4px;
                    }
                    &:nth-child(3n+2) {
                        margin-right: 4px;
                    }
                    &:nth-child(3n+3) {
                        margin-right: 4px;
                    }
                    &:first-child {
                        background-image: url(../img/pic6.jpg);
                    }
                    &:nth-child(2) {
                        background-image: url(../img/pic7.jpg);
                    }
                    &:nth-child(3) {
                        background-image: url(../img/pic8.jpg);
                    }
                    &:nth-child(4) {
                        background-image: url(../img/pic9.jpg);
                    }
                    &:nth-child(5) {
                        background-image: url(../img/pic10.jpg);
                    }
                    &:nth-child(6) {
                        background-image: url(../img/pic11.jpg);
                    }
                    &:nth-child(7) {
                        background-image: url(../img/potolok/ceil1.jpg);
                    }
                    &:nth-child(8) {
                        background-image: url(../img/pic11.jpg);
                    }
                    &:nth-child(9) {
                        background-image: url(../img/pic11.jpg);
                    }
                    &:nth-child(10) {
                        background-image: url(../img/pic11.jpg);
                    }
                    &:nth-child(11) {
                        background-image: url(../img/pic11.jpg);
                    }
                    &:nth-child(12) {
                        background-image: url(../img/pic11.jpg);
                    }
                    transition: all .3s;
                    &:hover {
                        background-size: 103% 103%;
                    }
                    .seventh__section-block-text {
                        position: absolute;
                        bottom: 10px;
                        height: 60px;
                        width: 100%;
                        background: rgba(255,255,255,.6);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        font-family: "RobotoRegular", sans-serif;
                    }
                }
            }
            .seventh__section-button-wrap {
                width: 100%;
                text-align: center;
                padding: 10px;
                button {
                    border: 1px solid #000;
                    background: none;
                    color: #000;
                    height: 50px;
                    width:200px;
                    font-size: 16px;
                    cursor: pointer;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 18px;
                    transition: all .5s;
                    &:hover {
                        background: #000;
                        color: #fff;
                    }
                }
            }
    }
}

/* ---------- eighth section ----------- */
.eighth__section {
        background-image: url(../img/bg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    .wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 650px;
        max-width: 1200px;
        margin: 0 auto;
        .eighth__section-header {
            margin-bottom: 40px;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-family: "RobotoBlack", sans-serif;
            font-size: 20px;
        }
        .eighth__section-block-wrap {
                overflow: hidden;
                width: 100%;
                .eighth__section-block {
                    padding: 10px;
                    float: left;
                    width: 32%;
                    height: 250px;
                    margin-bottom: 1.5%;
                    box-sizing: border-box;
                    background: #fff;
                    box-shadow: 3px 3px 3px #d0d0d0;
                    display: flex;
                    justify-content: center;
                    align-items: stretch;
                    .eighth__section-block-photo {
                        width: 50%;
                        background-image: url(../img/lamp1.jpg);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                    .eighth__section-block-info {
                        width: 50%;
                        .eighth__section-block-info-header {
                            text-transform: uppercase;
                            font-size: 25px;
                            text-align: center;
                            padding: 20px 0;
                            font-family: "RobotoLight", sans-serif;
                        }
                        .eighth__section-block-info-price {
                            background-color: $yellow;
                            height: 40px;
                            width: 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0 auto;
                            font-family: "RobotoRegular", sans-serif;
                            font-size: 16px;
                            strong {
                                font-size: 24px;
                            }
                        }
                        .eighth__section-block-info-color {
                            padding: 20px 0;
                            .eighth__section-block-info-color-text {
                                text-align: center;
                                margin-bottom: 10px;
                                font-family: "RobotoLight", sans-serif;
                                font-size: 16px;
                            }
                            .eighth__section-block-info-color-block {
                                display: flex;
                                justify-content: center;
                                .eighth__section-block-info-color-block_item {
                                    box-sizing: border-box;
                                    width: 20px;
                                    height: 20px;
                                    background: #fff;
                                    margin-right: 5px;
                                    cursor: pointer;
                                    &:first-child {
                                        background: #dac5a3;
                                    }
                                    &:nth-child(2) {
                                        background: #e8e8e8;
                                    }
                                    &:nth-child(3) {
                                        border: 1px solid  #dcdcdc;
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(3n+1) {
                        margin-right: 2%;
                    }
                    &:nth-child(3n+2) {
                        margin-right: 2%;
                    }
                    &:first-child {
                        /* background-image: url(../img/pic6.jpg); */
                    }
                    &:nth-child(2) {
                        /* background-image: url(../img/pic7.jpg); */
                    }
                    &:nth-child(3) {
                       /*  background-image: url(../img/pic8.jpg); */
                    }
                    &:nth-child(4) {
                        /* background-image: url(../img/pic9.jpg); */
                    }
                    &:nth-child(5) {
                        /* background-image: url(../img/pic10.jpg); */
                    }
                    &:nth-child(6) {
                        /* background-image: url(../img/pic11.jpg); */
                    }
                }
            }
            .eighth__section-button-wrap {
                width: 100%;
                text-align: center;
                padding: 10px;
                button {
                    border: 1px solid #a0a0a0;
                    background: none;
                    color: #666666;
                    height: 50px;
                    width:200px;
                    font-size: 16px;
                    cursor: pointer;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 18px;
                    transition: all .5s;
                    &:hover {
                        background: #666;
                        color: #fff;
                    }
                }
            }
    }
}

/* ---------- footer ----------- */
.footer {
    background-color: $grey;
    min-height: 300px;
    width: 100%;
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .footer__block {
            width: 30%;
            /* border: 1px solid  #033; */
            height: 250px;
            box-sizing: border-box;
            &:nth-child(2) {
                padding-top: 40px;
            }
            &:nth-child(3) {
                width: 20%;
                padding-top: 40px;
            }
            &:nth-child(4) {
                width: 20%;
                padding-top: 40px;
            }
            .footer__block-item {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 26px;
                background: #fff;
                box-sizing: border-box;
                .footer__block-item-top {
                    span {
                        text-transform: uppercase;
                    }
                }
                .footer__block-item-bottom {
                    font-size: 12px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 16px;
                }
                &:first-child {
                    padding-top: 40px;
                    display: block;
                    padding-left: 90px;
                    background-image: url(../img/logo.png);
                    background-repeat: no-repeat;
                    background-position: 5px 50px;
                    background-size: 70px;
                    width: 100%;
                    font-size: 30px;
                    padding-bottom: 20px;
                    font-family: "ManiaC", sans-serif;
                }
                &:last-child {
                    display: flex;
                    justify-content: center;
                    background: $grey;
                    padding-top: 20px;
                }
                .footer__block-item-schedule {
                    width: 90%;
                    text-align: center;
                    padding-left: 40px;
                    font-size: 14px;
                    border-top: 1px solid  #dcdcdc;
                    padding: 20px 0;
                    background-image: url(../img/clock.png);
                    background-repeat: no-repeat;
                    background-position: 25px center;
                    background-size: 21px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 16px;
                }
                .footer__block-item-text {
                    width: 33%;
                    font-size: 14px;
                    text-align: right;
                    color: #fff;
                    padding-right: 10px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 16px;
                }
                .footer__block-item-social {
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    .footer__block-item-social-icon {
                       /*  float: left; */
                        width: 28px;
                        height: 19px;
                        padding: 4px;
                        background-image: url(../img/social_sprite.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                        &:first-child {
                            background-position-x: 6px; 
                        }
                        &:nth-child(2) {
                            background-position-x: -29px; 
                        }
                        /* &:nth-child(3) {
                         background-position-x: -52px; 
                        } */
                        &:nth-child(4) {
                            background-position-x: -98px; 
                        }
                        &:nth-child(5) {
                            background-position-x: -132px; 
                        }
                    }
                }

            }
            .footer__block-item-contact {
                padding-left: 70px;
                height: 63px;
                display: flex;
                align-items: center;
                background-repeat: no-repeat;
                background-position: 20px center;
                font-family: "RobotoBold", sans-serif;
                font-size: 24px;
                &:nth-child(1) {
                    background-image: url(../img/master-call-w.png); 
                }
                &:nth-child(2) {
                    background-image: url(../img/phone2-w.png); 
                }
                &:nth-child(3) {
                    background-image: url(../img/mail-w.png); 
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    border-bottom: 1px dashed #fff;
                    font-weight: 700;
                    font-size: 26px;
                }
            }
            .footer__block-item-refs {
                padding-left: 20px;
                height: 35px;
                display: flex;
                align-items: center;
                font-size: 20px;
                a {
                    color: #fff;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 18px;
                }
            }
            .footer__block-item-callback {
                text-align: right;
                .tp-button {
                    padding: 10px 10px 10px 30px;
                    background-image: url(../img/phone.png);
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    background-size: 13px;
                }
            }
        }
    }
    .footer__info {
        height: 50px;
        text-align: center;
        border-top: 1px solid  #757575;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: "RobotoLight", sans-serif;
        font-size: 14px;
    }
}

@media screen and (max-width: 1080px) {
    header .header__logo .header__logo-wrap .header__logo-item {
        .tp-button {
            font-size: 16px;
        }
        .header__block-item-schedule {
            font-size: 12px;
        }
        a {
            font-size: 20px;
        }
     }

    .slider .slider__inner {
        .slider__inner-top-text {
            font-size: 25px;
        }
        .slider__inner-text {
            font-size: 20px;
            margin-bottom: 60px;
        }
    }
    .second__section .wrapper .second__section-inner  {
        .second__section-inner-info {
        background-position: 4.5vw center;

        }
        .second__section-inner-slider #slider {
            width: 60%;
        }
    }
    .fourth__section .wrapper .fourth__section-block .fourth__section-block-info {
        font-size: 14px;
    }
    .footer .wrapper .footer__block .footer__block-item:first-child {
        padding-left: 80px;
    }
    .footer .wrapper .footer__block .footer__block-item .footer__block-item-social .footer__block-item-social-icon {
        &:nth-child(1) {
            background-position-x: 1px;
        }
        &:nth-child(2) {
            background-position-x: -33px;
        }
        &:nth-child(4) {
            background-position-x: -101px;
        }
        &:nth-child(5){
            background-position-x: -135px;
        }
    }
    .footer .wrapper .footer__block .footer__block-item .footer__block-item-text {
        font-size: 13px;
    }
    .footer .wrapper .footer__block .footer__block-item .footer__block-item-social .footer__block-item-social-icon {
        width: 24px;
    }
}
@media screen and (max-width: 1024px) {
    header .header__logo .header__logo-wrap .header__logo-item .tp-button {
        font-size: 14px;
    }
    .first__section .wrapper { 
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
        .first__section-block {
            width: 50%;
        }
    }

    .fourth__section .wrapper .fourth__section-block {
        height: 370px;
        .fourth__section-block-photo {
            height: 300px;
        }
        .fourth__section-block-info {
            height: 60px;
        }
    }

    .seventh__section .wrapper .seventh__section-block-wrap .seventh__section-block {
        height: 235px;
        .seventh__section-block-text {
            height: 55px;
            font-size: 20px;
        }
    }

    .eighth__section .wrapper .eighth__section-block-wrap .eighth__section-block .eighth__section-block-info .eighth__section-block-info-header {
        font-size: 20px;
    }


    .footer .wrapper {

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;

        .footer__block {
            width: 50%;
            &:nth-child(3){
                width: 50%;
                padding-left: 9%;
            }
            &:nth-child(4){
                width: 50%;
                justify-content: center;
                display: flex;
            }

            .footer__block-item:first-child {
                padding-left: 10px;
                text-align: center;
                background-position-x: 20px;
            }

            .footer__block-item-contact {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 970px) {
    header .header__logo .header__logo-wrap {
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
        .header__logo-item {
            width: 50%;
            padding: 20px 0;
            &:first-child {
                width: 45%;
                font-size: 50px;
            }
            &:nth-child(3) {
                width: 50%;
            }
            &:last-child {
                display: flex;
                width: 40%;
                button {
                    margin: 10px;
                }
            }
        }
    }
    
    .slideshow-container {
        height: 345px;
    }
    .slider .slider__inner {
        .slider__inner-top-text {
            font-size: 20px;    
        }
        .slider__inner-text {
            font-size: 16px;
            margin-bottom: 25px;
        }
        .slider__inner-button button {
            font-size: 16px;
        }
    }

    .second__section .wrapper .second__section-inner .second__section-inner-info {
        background-position: 1.5vw center; 
    }

    .second__section .wrapper {
        height: 495px;
        .second__section-img {
            img {
                display: none;
            }
            top: 285px;
            width: 250px;
            height: 200px;
            background: $blue;
            right: calc(50% - 125px);
        }
        .second__section-img .second__section-result {
            top: 19%;
            left: 35%;
        }
        .second__section-inner {
            .second__section-inner-slider {
                padding-right: 0;
            }
            .second__section-inner-select {
                padding-right: 0;
            }
            .second__section-inner-info {
                padding-right: 0;
            }
        }
    }


    .fourth__section .wrapper .fourth__section-block .fourth__section-block-cost .fourth__section-block-cost-price {
        max-width: 100px;
        font-size: 12px;
        align-items: center;
        strong {
            font-size: 16px;
        }
    }

    .fourth__section .wrapper .fourth__section-block .fourth__section-block-cost .fourth__section-block-cost-detail {
        
        button {
            width: 150px;
            font-size: 14px;
        }

    }

    .seventh__section .wrapper .seventh__section-block-wrap .seventh__section-block {
        height: 210px;
        width: 24.5%;
    }


    .eighth__section .wrapper .eighth__section-block-wrap .eighth__section-block {
        height: 230px;
    }

}

@media screen and (max-width: 800px) {
    header .header__logo .header__logo-wrap .header__logo-item {
        &:first-child {
            width: 60%;
        }
        &:last-child {
            width: 55%;
        }
    }
    .slider .slider__inner {
        width: 40%;
    }
    .second__section .wrapper {
        height: 610px;
        .second__section-img {
            top: 400px;
        }
        .second__section-inner .second__section-inner-select {
            flex-flow: row wrap;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: center;
            .canvas {
                margin-right: 15px;
            }
            .corners {
                margin-right: 15px;
            }
            .for-button {
                width: 100%;
                text-align: center;
                margin-top: 15px;
                button {
                    padding-left: 65px;

                }
            }

        }

    }

     .fourth__section .wrapper .fourth__section-block {
        /* height: 275px; */
        width: 49%;
        &:nth-child(3n+1){
            margin-right: 0;
        }
        &:nth-child(3n+2){
            margin-right: 0;
        }
        &:nth-child(3n+3){
            margin-right: 0;
        }
        &:nth-child(2n){
             margin-right: 2%; 
        }
        .fourth__section-block-photo {
            /* height: 200px; */
        }

    } 

    .fifth__section .wrapper {
        display: block;
        .fifth__section-block:first-child {
            margin-right: 0;
            margin-bottom: 2%;
        }
        .fifth__section-block .fifth__section-block-wrap button {
            width: 210px;
        }
    }

    .seventh__section .wrapper .seventh__section-block-wrap .seventh__section-block {
        width: 32.7%;
    }

    .eighth__section .wrapper .eighth__section-block-wrap .eighth__section-block {
        width: 49%;
        &:nth-child(3n+1) {
            margin-right: 0;
        }
        &:nth-child(3n+2) {
            margin-right: 0;
        }
        &:nth-child(2n+1) {
            margin-right: 2%;
        }
    }

    .footer .wrapper .footer__block {
            width: 100%;
        .footer__block-item {
            &:first-child {
                background-image: none;
                .footer__block-item-top {
                    width: 260px;
                    margin: 0 auto;
                    position: relative;
                    &:before {
                        content: '';
                        width: 100px;
                        height: 50px;
                        position: absolute;
                        top: 0;
                        left: -90px;
                        background-image: url(../img/logo.png);
                        background-repeat: no-repeat;
                    }

                }
            }
            &:last-child {
                justify-content: flex-start;
            }
        }
       .footer__block-item-contact {
            width: 75%;
        }

    }
}

@media screen and (max-width: 720px) {
    header {
        nav {
            display: none;
        }
        .nav {
            display: block;
            width: 100%;
            height: 40px;
            background: $blue;
        }
    }

    .second__section .wrapper .second__section-inner .second__section-inner-info {
        font-size: 10px;
    }

    .seventh__section .wrapper .seventh__section-block-wrap .seventh__section-block {
        width: 49.5%;
        &:nth-child(3n+1) {
            margin-right: 0;
        }
        &:nth-child(3n+2) {
            margin-right: 0;
        }
        &:nth-child(3n+3) {
            margin-right: 0;
        }
        &:nth-child(2n+1) {
            margin-right: 1%;
        }
    }

}

@media screen and (max-width: 600px) {
    header .header__logo .header__logo-wrap {
        .header__logo-item{
            width: 100%;
            &:first-child {
                width: 75%;
                font-size: 8vw;
            }
            &:last-child {
                width: 75%;
            }
            a {
                font-size: 5vw;
            }
        }
    }

    .second__section .wrapper .second__section-inner .second__section-inner-slider {
        font-size: 10px;
    }

    .fourth__section .wrapper .fourth__section-block {
        height: 275px;
        .fourth__section-block-photo {
            height: 200px;
        }
    }

    .third__section .wrapper .third__section-block .third__section-block-wrap .third__section-block-header {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .second__section .wrapper .second__section-inner .second__section-inner-select {
        font-size: 12px;
    }

    .second__section .wrapper .second__section-inner .second__section-inner-info {
        font-size: 8px;
    }

    .fourth__section .wrapper .fourth__section-block .fourth__section-block-info {
        font-size: 12px;
    }

    .eighth__section .wrapper .eighth__section-block-wrap .eighth__section-block {
        width: 100%;
    }
}