$blue: #0068ba;
$yellow: #ffdf4a;
$grey: #474747;

 @mixin pressed {
            text-transform: uppercase;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 20px;
            font-family: "RobotoBlack", sans-serif;
            text-shadow: #7e6700 0 -1px 0;
            color: #a68f23;   
            border-bottom: 4px solid  #dfc137;
        } 