html, body, ul, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}
button {
    cursor: pointer;
}
.tp-button {
    background-color: #ffdf4a;
    border: none;
    border-bottom: 2px solid #dfc137;
    cursor: pointer;
    font-family: "RobotoRegular", sans-serif;
    font-size: 18px;
}
button.mover {
    &:hover {
        background: #333;
        color: #fff;
    }
}
header {
    background: $blue;
    nav {
        /* overflow: hidden; */
        max-width: 1200px;
        margin: 0 auto; 
        position: relative;
        height: 42px;
        ul  {
            li.nav-li {
                float: left;
                padding: 10px;
                list-style: none;
                position: relative;
                    a {
                        text-decoration: none;
                        color: #fefefe;
                        font-family: "RobotoMedium", sans-serif;
                    }
                    &:first-child {
                        background-image: url(../img/home.png);
                        width: 30px;
                        height: 19px;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                    }
                    /* &:nth-child(3) {
                        &:hover {

                        }
                    } */
                    &:after {
                        content: '';
                        width: 1px;
                        height: 20px;
                        right: 0;
                        background:#408ecb;
                        position: absolute;
                        top: calc(50% - 10px);
                    }
                }
        }
        .header__schedule {
            float: left;
            padding: 10px;
            color: #fefefe;      
        }
        .header__main-panel {
            float: right;
            display: flex;
            align-items: center;
            height: 40px;
            .header__main-panel-item {
                float: left;  
                width: 30px;
                height: 19px;   
                padding: 4px; 
                background-image: url(../img/social_sprite.png);
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                &:first-child {
                    background-position-x: 6px; 
                }
                &:nth-child(2) {
                    background-position-x: -29px; 
                }
                &:nth-child(3) {
                   /*  background-position-x: -52px;  */
                }
                &:nth-child(4) {
                    background-position-x: -98px; 
                }
                &:nth-child(5) {
                    background-position-x: -132px; 
                }
            }
        }
    } /* nav end */
        .ceil_types {
            position: absolute;
            left: 0;
            top: 42px;
            width: 200px;
            background: $blue;
            z-index: 2;
            display: none;
            li {
                list-style-type: none;
                height: 40px;
                display: flex;
                align-items: center;
                text-align: center;
                a {
                    width: 100%;
                }
            }
            &.open {
                display: block;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #fff;
                }
                .ceil_types-item {
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    text-decoration: none;
                    font-family: "RobotoLight", sans-serif;
                }
            } 
        }
  
    .nav {
        display: none; 
        position: relative;
        .menu {
            cursor: pointer;
            height: 25px;
            width: 30px;
            position: absolute;
            right: 10px;
            top: 8px;
            display: none; 
        }
        .menu span {
            background: #fff;
            height: 3px; 
            width: 20px;
            position: absolute;
            transition: all 0.3s ease-in-out 0s;
            width: 30px;
        }
        .menu span:nth-child(2) {
            top: 10px;
        }
        .menu span:nth-child(3) {
            top: 20px;
        }
        .menu.open span:nth-child(1) {
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
            top:10px;
        }
        .menu.open span:nth-child(3) {
            -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
            top:10px;	
        }
        .menu.open span:nth-child(2) {
            opacity: 0;
        }
    }

    .menu_expand {
        background: $blue;
         display: none;    
        padding: 10px 10px;
        text-transform: uppercase;
        position: fixed;
        width: 250px;
        right: 0;
        z-index: 1;
        /* transition: opasity 1s;  */
    }
    .menu_expand.open {
         display: block;  
         z-index: 2;
    }
    .menu_item {
        padding: 10px;
        font-family: "RobotoRegular", sans-serif;
        text-align: center;
        list-style-type: none;
        /* &:nth-child(3) {
            &:hover {
                ul {
                    display: block;
                }
            }
        } */
        &.submenu {
            display: none; 
        }
          ul {
            display: none;
        }
        /* &:hover {
            ul {
                display: inherit;
            }
        }   */
        li {
            padding: 10px;
            font-family: "RobotoRegular", sans-serif;
            text-align: center;
            list-style-type: none;
            font-size: 12px;
            &:first-child {
                list-style-type: none;
            }
        }
    }
    .menu_item a {
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
    }

    .header__logo {
        box-shadow: 0px 1px 3px #000;
        padding: 20px 0 10px;
        background: #ffffff;
        .header__logo-wrap {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            .header__logo-item {
                width: 22.5%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 26px;
                .header__logo-item-wrap {
                    width: 100%;
                }
                .header__logo-item-top {
                    span {
                        text-transform: uppercase;
                    }
                }
                .header__logo-item-bottom {
                    font-size: 12px;
                    font-family: "RobotoLight", sans-serif;
                }
                &:first-child {
                    padding-left: 90px;
                    background-image: url(../img/logo.png);
                    background-repeat: no-repeat;
                    background-position: 5px center;
                    background-size: 70px;
                    width: 27%;
                    font-size: 30px;
                    font-family: "ManiaC", sans-serif;
                }
                .tp-button {
                    padding: 10px 10px 10px 30px;
                    background-image: url(../img/phone.png);
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    background-size: 13px;
                }
                a {
                    text-decoration: none;
                    color: #000;
                    border-bottom: 1px dashed  #000;
                    position: relative;
                    font-family: "RobotoBold", sans-serif;
                    font-size: 24px;
                    &:before {
                        content: '';
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        background-image: url(../img/phone2.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        left: -45px;
                        top: -5px;
                    }
                }
                &:nth-child(3) {
                    font-size: 24px;
                    width: 24.5%;
                    a {
                        &:before {
                            background-image: url(../img/master-call.png);
                        }
                    }
                }
                &:last-child {
                    width: 17%;
                    display: block;
                    button {
                        width: 100%;
                    }
                }
                .header__block-item-schedule {
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                    padding: 10px 0 10px 20px;
                    background-image: url(../img/clock.png);
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 21px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 14px;
                    box-sizing: border-box;
                }
            }
        }
    }
} /* header end */

/* ---------- wrapper ----------- */
.wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    aside {
        width: 20%;
        min-height: 200px;
        .title {
            text-transform: uppercase;
            font-family: "RobotoBlack", sans-serif;
            padding: 20px 0;
        }
        .ceil_types {
            list-style-type: none;
            li {
                background: #f2f2f2;
                height: 50px;
                display: flex;
                align-items: center;
                padding-left: 20px;
                margin-bottom: 5px;
                border-bottom: 1px solid  #d0d0d0;
                a {
                    text-decoration: none;
                    color: #000;
                    font-family: "RobotoLight", sans-serif;
                    width: 100%;
                }
            }
        }

        .news {
            .news-header {
                font-family: "RobotoBlack", sans-serif;
                padding: 30px 0 20px;
                text-transform: uppercase;
                font-size: 20px;
            }
            .news__block {
                border-bottom: 1px solid  #e8e8e8;
                padding: 15px 0;
                .news__block-header {
                    font-family: "RobotoMedium", sans-serif;
                    margin-bottom: 10px;
                    line-height: 1;
                }
                .news__block-photo {
                    img {
                        width: 100%;
                    }
                }
                .news__block-date {
                    color: #aaa9a9;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                .news__block-text {
                    text-indent: 20px;
                    text-align: justify;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 14px;
                }
            }
            .news-button {
                text-align: center;
                padding: 10px 0;
                button {
                    font-family: "RobotoLight", sans-serif;
                    font-size: 14px;
                    background: none;
                    border: 1px solid  #333;
                    color: #333;
                    height: 40px;
                    width: 100%;
                    transition: background .3s;
                    &:hover {
                        background: #333;
                        color: #fff;
                    }
                }
            }
        }
    } /* end aside */
    .right {
        width: 80%;
        min-height: 200px;
        box-sizing: border-box;
        padding-left: 20px;
        .main__section {
            .main__section-header {
                text-transform: uppercase;
                font-family: "RobotoBlack", sans-serif;
                padding: 20px 0;
            }
            p {
                text-indent: 20px;
                font-family: "RobotoLight", sans-serif;
                text-align: justify;
            }
        }
        .action__section {
            .action__section-header {
                font-family: "RobotoBlack", sans-serif;
                padding: 20px 0;
                text-transform: uppercase;
            }
            .action__section-photo {
                height: 200px;
                background-image: url(../img/action.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                .action__section-arrow {
                    position: absolute;
                    background-image: url(../img/act-arrow.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 50%;
                    height: 80px;
                    top: calc(50% - 33px);
                    right: -10px;
                    font-family: "RobotoLight", sans-serif;
                    padding-top: 2%;
                    text-align: right;
                    padding-right: 10px;
                    font-size: 24px;
                    span {
                        text-transform: uppercase;
                        font-family: "RobotoBold", sans-serif;

                    }
                }
            }
        }/* action sec end */
        .review__section {
            .review__section-header {
                font-family: "RobotoBlack", sans-serif;
                padding: 20px 0;
                text-transform: uppercase;
            }
            .review__section-block-wrap {
                @include flexRC;
                .review__section-block {
                    width: calc(50% - 10px);
                    min-height: 125px;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #e8e8e8;
                    &:nth-child(2n+1) {
                        margin-right: 20px;
                    }
                    .review__section-block-inner {
                        margin-bottom: 20px;
                        font-family: "RobotoLight", sans-serif;
                        font-size: 14px;
                        text-align: justify;
                        &:first-child {
                            display: flex;
                            justify-content: center;
                            .inner-name {
                                width: 70%;
                                font-family: "RobotoMedium", sans-serif;
                                font-size: 22px;
                            }
                            .inner-date {
                                width: 30%;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                color: #aaa9a9;
                                font-family: "RobotoLight", sans-serif;
                                font-size: 12px;
                            }
                        }   
                        
                    }
                }
            }
            .review__button {
                text-align: center;
                button {
                    background: none;
                    border: 1px solid  #333;
                    color: #333;
                    width: 150px;
                    height: 40px;
                    outline: none;
                    font-family: "RobotoRegular", sans-serif;
                    font-size: 14px;
                    transition: background .3s;
                    &:hover {
                        background: #333;
                        color: #fff;
                    }
                }
            }
        }
        .photos__section {
            .photos__section-header {
                font-family: "RobotoBlack", sans-serif;
                padding: 20px 0;
                text-transform: uppercase;
            }
            .photos__section-wrap {
                @include flexRC;
                a {
                    display: block;
                }
                .photos__section-item {
                    box-sizing: border-box;
                    width: calc(33.33% - 6.66px);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border: 2px solid  #fff;
                    box-shadow: 0 3px 3px #757575;
                    margin-bottom: 10px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        max-height: 100%; 
                        margin-bottom: -4px;
                        transition: transform .3s;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                    &:nth-child(3n+1) {
                        margin-right: 10px;
                    }
                    &:nth-child(3n+2) {
                        margin-right: 10px;
                    }
                }
            }
        }
        .third__section {
            background-image: url(../img/bg3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 10px;
            .wrapper {
                max-width: 1200px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                .third__section-block {
                    height: 350px;
                    text-align: center;
                    display: flex;
                    align-items: center; 
                    font-size: 23px;
                    &:first-child {
                        .third__section-block-wrap {
                            width: 90%;
                            margin: 0 auto;
                        }
                    }
                    .third__section-block-wrap {
                        .third__section-block-header, .third__section-block-text {
                            width: 100%;
                            text-transform: uppercase;
                        }
                        .third__section-block-header {
                            color: #000;
                            font-size: 20px;
                            font-family: "RobotoBlack", sans-serif;
                        }
                        .third__section-block-text {
                            color: #000;
                            font-family: "RobotoLight", sans-serif;
                        }
                        input, button {
                            box-sizing: border-box;
                            width: 60%;
                            height: 50px;
                            margin-bottom: 10px;
                            padding: 0 10px;
                            font-family: "RobotoLight", sans-serif;
                            font-size: 16px;
                        }
                        button {
                            font-size: 24px !important;
                            @include pressed;
                        }
                    }
                }
            }
        }
    } /* right end */
}





/* ---------- wrapper section ----------- */
/* ---------- wrapper section ----------- */


/* ---------- footer ----------- */
.footer {
    background-color: $grey;
    min-height: 300px;
    width: 100%;
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .footer__block {
            width: 30%;
            /* border: 1px solid  #033; */
            height: 250px;
            box-sizing: border-box;
            &:nth-child(2) {
                padding-top: 40px;
            }
            &:nth-child(3) {
                width: 20%;
                padding-top: 40px;
            }
            &:nth-child(4) {
                width: 20%;
                padding-top: 40px;
            }
            .footer__block-item {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 26px;
                background: #fff;
                box-sizing: border-box;
                .footer__block-item-top {
                    span {
                        text-transform: uppercase;
                    }
                }
                .footer__block-item-bottom {
                    font-size: 12px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 16px;
                }
                &:first-child {
                    padding-top: 40px;
                    display: block;
                    padding-left: 90px;
                    background-image: url(../img/logo.png);
                    background-repeat: no-repeat;
                    background-position: 5px 50px;
                    background-size: 70px;
                    width: 100%;
                    font-size: 30px;
                    padding-bottom: 20px;
                    font-family: "ManiaC", sans-serif;
                }
                &:last-child {
                    display: flex;
                    justify-content: center;
                    background: $grey;
                    padding-top: 20px;
                }
                .footer__block-item-schedule {
                    width: 90%;
                    text-align: center;
                    padding-left: 40px;
                    font-size: 14px;
                    border-top: 1px solid  #dcdcdc;
                    padding: 20px 0;
                    background-image: url(../img/clock.png);
                    background-repeat: no-repeat;
                    background-position: 25px center;
                    background-size: 21px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 16px;
                }
                .footer__block-item-text {
                    width: 33%;
                    font-size: 14px;
                    text-align: right;
                    color: #fff;
                    padding-right: 10px;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 16px;
                }
                .footer__block-item-social {
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    .footer__block-item-social-icon {
                       /*  float: left; */
                        width: 28px;
                        height: 19px;
                        padding: 4px;
                        background-image: url(../img/social_sprite.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                        &:first-child {
                            background-position-x: 6px; 
                        }
                        &:nth-child(2) {
                            background-position-x: -29px; 
                        }
                        /* &:nth-child(3) {
                         background-position-x: -52px; 
                        } */
                        &:nth-child(4) {
                            background-position-x: -98px; 
                        }
                        &:nth-child(5) {
                            background-position-x: -132px; 
                        }
                    }
                }

            }
            .footer__block-item-contact {
                box-sizing: border-box;
                padding-left: 70px;
                height: 63px;
                display: flex;
                align-items: center;
                background-repeat: no-repeat;
                background-position: 20px center;
                font-family: "RobotoBold", sans-serif;
                font-size: 24px;
                &:nth-child(1) {
                    background-image: url(../img/master-call-w.png); 
                }
                &:nth-child(2) {
                    background-image: url(../img/phone2-w.png); 
                }
                &:nth-child(3) {
                    background-image: url(../img/mail-w.png); 
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    border-bottom: 1px dashed #fff;
                    font-weight: 700;
                    font-size: 26px;
                }
            }
            .footer__block-item-refs {
                padding-left: 20px;
                height: 35px;
                display: flex;
                align-items: center;
                font-size: 20px;
                a {
                    color: #fff;
                    font-family: "RobotoLight", sans-serif;
                    font-size: 18px;
                }
            }
            .footer__block-item-callback {
                text-align: right;
                .tp-button {
                    padding: 10px 10px 10px 30px;
                    background-image: url(../img/phone.png);
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    background-size: 13px;
                }
            }
        }
    }
    .footer__info {
        height: 50px;
        text-align: center;
        border-top: 1px solid  #757575;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: "RobotoLight", sans-serif;
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper .right .action__section .action__section-photo .action__section-arrow {
        font-size: 1.9vw;
    }
    .mySlides .slider-text {
        font-size: 1.9vw;
    }
    .slideshow-container .action__section-arrow {
        right: -0.9vw;
    }
}

@media screen and (max-width: 970px) {
    .wrapper .right .review__section .review__section-block-wrap .review__section-block {
        width: 100%;
        &:nth-child(2n+1){
            margin-right: 0;
        }
    }
    .mySlides .slider-text {
        margin-top: -18px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        display: block;
        aside {
            width: 100%;
            .title, .ceil_types {
                display: none;
            }
            .news {
                padding: 0 20px;
                .news__block-wrap {
                    @include flexRC;
                    .news__block {
                        width: calc(50% - 10px);
                        &:nth-child(2n+1) {
                            margin-right: 20px;
                        }
                    }
                }
                .news-button {
                    button {
                        width: 150px;
                    }
                }
            }
        }
        .right {
            width: 100%;
            padding-right: 20px;
            .action__section .action__section-photo .action__section-arrow {
                font-size: 2.4vw;
            }
        }
    } 
    .mySlides .slider-text {
        margin-top: -15px;
        font-size: 2.2vw;
    }
}
@media screen and (max-width: 720px) {
    .wrapper .right .photos__section .photos__section-wrap .photos__section-item {
        width: calc(50% - 10px) !important;
        &:nth-child(3n+1) {
            margin-right: 0; 
        }
        &:nth-child(3n+2) {
            margin-right: 0;
        }
        &:nth-child(2n + 1) {
            margin-right: 10px; 
        }  
    }

    .wrapper .right .third__section .wrapper {
        display: block;
        .third__section-block {
            height: 200px;
            &:last-child {
                .third__section-block-wrap {
                    width: 100%;
                }
            }
        }

    }
    .mySlides .slider-text {
        margin-top: -19px;
    }
}

@media screen and (max-width: 600px) {
    .slideshow-container .action__section-arrow {
        right: -1.6vw;
        width: 70%;
    }
    .mySlides .slider-text {
        font-size: 3vw;
    }
}

@media screen and (max-width: 480px) {
    aside .news {
                .news__block-wrap {
                    .news__block {
                        width: 100% !important;
                        &:nth-child(2n+1) {
                            margin-right: 0 !important;
                        }
                    }
                }
            }
    .wrapper .right .review__section .review__section-block-wrap .review__section-block .review__section-block-inner:first-child {
        display: block;
        .inner-name {
            width: 100%;
        }
        .inner-date {
            width: 100%;
            justify-content: flex-start;
            height: 30px;
        }
    }
    .slideshow-container .action__section-arrow {
        right: -2.6vw;
        width: 90%;
        top: calc(50% - 60px);
    }
    .mySlides {
        height: 200px;
        .slider-text {
            font-size: 3.9vw;
        }
        img {
            height: 200px;
        }
    }
    
    
}
@media screen and (max-width: 400px) {
    .mySlides {
        height: 200px;
        .slider-text {
            font-size: 3.7vw;
            margin-top: -23px;
        }
    }
}

@media screen and (max-width: 320px) {
    .wrapper .right .photos__section .photos__section-wrap .photos__section-item {
        width: 100% !important;
        &:nth-child(2n+1){
            margin-right: 0;
        }
    }
}


    /* -------->>>-------- */

@media screen and (max-width: 1080px) {
    header .header__logo .header__logo-wrap .header__logo-item {
        .tp-button {
            font-size: 16px;
        }
        .header__block-item-schedule {
            font-size: 12px;
        }
        a {
            font-size: 20px;
        }
     }

    .slider .slider__inner {
        .slider__inner-top-text {
            font-size: 25px;
        }
        .slider__inner-text {
            font-size: 20px;
            margin-bottom: 60px;
        }
    }
    .second__section .wrapper .second__section-inner  {
        .second__section-inner-info {
        background-position: 4.5vw center;

        }
        .second__section-inner-slider #slider {
            width: 60%;
        }
    }
    .fourth__section .wrapper .fourth__section-block .fourth__section-block-info {
        font-size: 14px;
    }
    .six__section {
        .wrapper {
            height: 670px;
            .six__section-text {
                font-size: 14px;
                top: 43%;
                width: 32vw; 
                left: calc(50% - 16vw);
            }
        }
    }
    .seventh__section .wrapper .seventh__section-block-wrap .last_wrap .seventh__section-block {
        width: 49.6%;
    }
    .footer .wrapper .footer__block .footer__block-item:first-child {
        padding-left: 80px;
    }
    .footer .wrapper .footer__block .footer__block-item .footer__block-item-social .footer__block-item-social-icon {
        &:nth-child(1) {
            background-position-x: 1px;
        }
        &:nth-child(2) {
            background-position-x: -33px;
        }
        &:nth-child(4) {
            background-position-x: -101px;
        }
        &:nth-child(5){
            background-position-x: -135px;
        }
    }
    .footer .wrapper .footer__block .footer__block-item .footer__block-item-text {
        font-size: 13px;
    }
    .footer .wrapper .footer__block .footer__block-item .footer__block-item-social .footer__block-item-social-icon {
        width: 24px;
    }
}
@media screen and (max-width: 1024px) {
    header .header__logo .header__logo-wrap .header__logo-item .tp-button {
        font-size: 14px;
    }
    .first__section .wrapper { 
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
        .first__section-block {
            width: 50%;
        }
    }

    .fourth__section .wrapper .fourth__section-block {
        height: 370px;
        .fourth__section-block-photo {
            height: 300px;
        }
        .fourth__section-block-info {
            height: 60px;
        }
    }

    .seventh__section .wrapper .seventh__section-block-wrap .seventh__section-block {
        height: 235px;
        .seventh__section-block-text {
            height: 55px;
            font-size: 20px;
            color: #000;
        }
    }

    .eighth__section .wrapper .eighth__section-block-wrap .eighth__section-block .eighth__section-block-info .eighth__section-block-info-header {
        font-size: 20px;
    }


    .footer .wrapper {

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;

        .footer__block {
            width: 50%;
            &:nth-child(3){
                width: 50%;
                padding-left: 9%;
            }
            &:nth-child(4){
                width: 50%;
                justify-content: center;
                display: flex;
            }

            .footer__block-item:first-child {
                padding-left: 10px;
                text-align: center;
                background-position-x: 20px;
            }

            .footer__block-item-contact {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 970px) {
    header .header__logo .header__logo-wrap {
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
        .header__logo-item {
            width: 50%;
            padding: 20px 0;
            &:first-child {
                width: 45%;
                font-size: 50px;
            }
            &:nth-child(3) {
                width: 50%;
            }
            &:last-child {
                display: flex;
                width: 40%;
                button {
                    margin: 10px;
                }
            }
        }
    }
    
    .slider .slider__inner {
        .slider__inner-top-text {
            font-size: 20px;    
        }
        .slider__inner-text {
            font-size: 16px;
            margin-bottom: 25px;
        }
        .slider__inner-button button {
            font-size: 16px;
        }
    }

    .second__section .wrapper .second__section-inner .second__section-inner-info {
        background-position: 1.5vw center; 
    }

    .second__section .wrapper {
        height: 495px;
        .second__section-img {
            img {
                display: none;
            }
            top: 285px;
            width: 250px;
            height: 200px;
            background: $blue;
            right: calc(50% - 125px);
        }
        .second__section-img .second__section-result {
            top: 19%;
            left: 35%;
        }
        .second__section-inner {
            .second__section-inner-slider {
                padding-right: 0;
            }
            .second__section-inner-select {
                padding-right: 0;
            }
            .second__section-inner-info {
                padding-right: 0;
            }
        }
    }


    .fourth__section .wrapper .fourth__section-block .fourth__section-block-cost .fourth__section-block-cost-price {
        max-width: 100px;
        font-size: 12px;
        align-items: center;
        strong {
            font-size: 16px;
        }
    }

    .fourth__section .wrapper .fourth__section-block .fourth__section-block-cost .fourth__section-block-cost-detail {
        
        button {
            width: 150px;
            font-size: 14px;
        }

    }

    .six__section {
        .wrapper {
            height: 600px;
            .six__section-text {
                    font-size: 13px;
                    top: 42%;
                    width: 32vw; 
                    left: calc(50% - 16vw);
            }
        }
    }

    .seventh__section .wrapper .seventh__section-block-wrap .seventh__section-block {
        height: 210px;
        width: 24.6%;
    }


    .eighth__section .wrapper .eighth__section-block-wrap .eighth__section-block {
        min-height: 230px;
    }

}

@media screen and (max-width: 800px) {
    header .header__logo .header__logo-wrap .header__logo-item {
        &:first-child {
            width: 60%;
        }
        &:last-child {
            width: 55%;
        }
    }
    .slider .slider__inner {
        width: 40%;
    }
    .second__section .wrapper {
        height: 610px;
        .second__section-img {
            top: 400px;
        }
        .second__section-inner .second__section-inner-select {
            flex-flow: row wrap;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: center;
            .canvas {
                margin-right: 15px;
            }
            .corners {
                margin-right: 15px;
            }
            .for-button {
                width: 100%;
                text-align: center;
                margin-top: 15px;
                button {
                    padding-left: 65px;

                }
            }

        }

    }

     .fourth__section .wrapper .fourth__section-block {
        /* height: 275px; */
        width: 49%;
        &:nth-child(3n+1){
            margin-right: 0;
        }
        &:nth-child(3n+2){
            margin-right: 0;
        }
        &:nth-child(3n+3){
            margin-right: 0;
        }
        &:nth-child(2n){
             margin-right: 2%; 
        }

    } 

    .fifth__section .wrapper {
        display: block;
        .fifth__section-block:first-child {
            margin-right: 0;
            margin-bottom: 2%;
        }
        .fifth__section-block .fifth__section-block-wrap button {
            width: 210px;
        }
    }

    .six__section {
        .wrapper {
            height: 570px;
            .six__section-text {
                    font-size: 12px;
                    top: 42%;
                    width: 32vw; 
                    left: calc(50% - 16vw);
            }
        }
    }

    .seventh__section .wrapper .seventh__section-block-wrap .seventh__section-block {
        width: 32.9%;
        &:nth-child(4n+1) {
            margin-right: 0;
        }
        &:nth-child(4n+2) {
            margin-right: 0;
        }
        &:nth-child(4n+3) {
            margin-right: 0;
        }
        &:nth-child(3n+1) {
            margin-right: 4px;
        }
        &:nth-child(3n+2) {
            margin-right: 4px;
        }
        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }

    .eighth__section .wrapper .eighth__section-block-wrap .eighth__section-block {
        width: 49%;
        &:nth-child(3n+1) {
            margin-right: 0;
        }
        &:nth-child(3n+2) {
            margin-right: 0;
        }
        &:nth-child(2n+1) {
            margin-right: 2%;
        }
    }

    .footer .wrapper .footer__block {
            width: 100%;
        .footer__block-item {
            &:first-child {
                background-image: none;
                .footer__block-item-top {
                    width: 260px;
                    margin: 0 auto;
                    position: relative;
                    &:before {
                        content: '';
                        width: 100px;
                        height: 50px;
                        position: absolute;
                        top: 0;
                        left: -90px;
                        background-image: url(../img/logo.png);
                        background-repeat: no-repeat;
                    }

                }
            }
            &:last-child {
                justify-content: flex-start;
            }
            .footer__block-item-schedule {
                position: relative;
                width: auto;
                background-image: none;
                &:before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    background-image: url(../img/clock.png);
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -30px;
                }
            }
        }
       .footer__block-item-contact {
            width: 75%;
        }

    }
}

@media screen and (max-width: 720px) {
    header {
        padding: 0;
        margin: 0;
        .header__logo {
            margin-top: 40px;
        }
        nav {
            display: none; 
        }
        .nav {
            display: none;
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;
            height: 40px;
            background: $blue;
            background-image: url(../img/logo.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60px;
            position: fixed;
            z-index: 3;
            top: 0;
            .menu {
                display: block; 
            }
            a {
                width: 30px;
                height: 30px;
                background-image: url(../img/home.png);
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                left: 10px;
                top: calc(50% - 15px);
            }
            button {
                width: 30px;
                height: 30px;
                outline: none;
                background-image: url(../img/phone.png);
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                right: 50px;
                top: calc(50% - 15px);
            }
        }
    }


    .second__section .wrapper {
        height: 750px;
        .second__section-inner {
            .second__section-inner-header{
                font-size: 2vw;
            }
            .second__section-inner-slider{
                display: block;
                font-size: 16px;
                .second__section-inner-slider-text {
                    margin-bottom: 10px;
                }
            }
            /* .second__section-inner-info {
                display: none;
            } */
            .second__section-inner-slider #slider {
                width: 100%;
                margin: 25px 0;
            }
        }
        .second__section-img {
            top: 540px;
        }
    }
    .second__section .wrapper .second__section-inner .second__section-inner-info {
        font-size: 10px;
    }

    .six__section {
        .wrapper {
            height: 460px;
            .six__section-text {
                    font-size: 11px;
                    top: 38%;
                    width: 32vw; 
                    left: calc(50% - 16vw);
            }
        }
    }

    .seventh__section .wrapper .seventh__section-block-wrap  {
        .seventh__section-block {
            width: 49.5%;
            &:nth-child(3n+1) {
                margin-right: 0;
            }
            &:nth-child(3n+2) {
                margin-right: 0;
            }
            &:nth-child(3n+3) {
                margin-right: 0;
            }
            &:nth-child(2n+1) {
                margin-right: 1%;
            }
        }
        .last_wrap .seventh__section-block {
            width: 49.5%;
        }
    }

}

@media screen and (max-width: 600px) {
    header .header__logo .header__logo-wrap {
        .header__logo-item{
            width: 100%;
            &:first-child {
                width: 75%;
                font-size: 8vw;
            }
            &:last-child {
                width: 75%;
            }
            a {
                font-size: 5vw;
            }
        }
    }

    .second__section .wrapper {
        height: 680px;
        .second__section-img {
            top: 470px;
        }
        .second__section-inner .second__section-inner-slider {
            font-size: 12px;
        }
    }



    .fourth__section .wrapper .fourth__section-block {
        height: 275px;
        .fourth__section-block-photo {
            height: 200px;
        }
    }

    .third__section .wrapper .third__section-block .third__section-block-wrap .third__section-block-header {
        font-size: 16px;
    }

    .six__section {
        .wrapper {
            height: 460px;
            background-image: none;
            .six__section-text {
                .text-header {
                    display: none;
                }
                color: #000;
                font-size: 14px;
                top: 38%;
                width: 75vw; 
                position: static;
                margin-bottom: 20px;
                margin: 0 auto;
            }
            .six__section-items {
                display: block;
                .six__section-item-wrap {
                    .six__section-item {
                        margin: 0 auto;
                        width: 220px;
                        position: relative;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        font-family: "RobotoLight", sans-serif;
                        span {
                            width: 30px;
                            height: 30px;
                            background-image: url(../img/w-phone.png);  
                            background-repeat: no-repeat;
                            background-size: cover;
                            margin-right: 10px;
                        } 
                    }
                    &:nth-child(2) {
                            span {
                                background-image: url(../img/w-pensil.png);
                            }
                        }
                    &:nth-child(3) {
                            span {
                                background-image: url(../img/treaty.png);
                            }
                    }
                    &:nth-child(4) {
                            span {
                                background-image: url(../img/w-wheel.png);
                            }
                    }
                    &:nth-child(5) {
                            span {
                                background-image: url(../img/w-drill.png);
                            }
                    }
                    &:nth-child(6) {
                            span {
                                background-image: url(../img/w-star.png);
                            }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 600px) {
    .slider .slider__inner {
        width: 65vw;
    }

    .second__section .wrapper .second__section-inner .second__section-inner-select {
        font-size: 12px;
    }

    .second__section .wrapper .second__section-inner .second__section-inner-info {
        font-size: 11px;
    }

    .fourth__section .wrapper .fourth__section-block .fourth__section-block-info {
        font-size: 12px;
    }

    .eighth__section .wrapper .eighth__section-block-wrap .eighth__section-block {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .first__section .wrapper .first__section-block {
        width: 100%;
    }
    .second__section .wrapper {
        height: 800px;
        .second__section-img {
            top: 590px;
        }
        .second__section-inner {
            .second__section-inner-slider {
                font-size: 12px;
            }
            .second__section-inner-select {
                .canvas {
                    width: 100%;
                    margin-right: 0;
                }
                .corners {
                    width: 100%;
                    margin-right: 0;
                }
                .lamps {
                    width: 100%;
                }

            }
        }
    }

    .third__section .wrapper {
        display: block;
        .third__section-block {
            justify-content: center;
            height: 200px;
            .third__section-block-wrap {
                .third__section-block-text {
                    width: 100%;
                    font-size: 3.5vw;
                }
                .third__section-block-header {
                    font-size: 3.5vw;
                }
                .third__section-block-header, .third__section .wrapper .third__section-block .third__section-block-wrap .third__section-block-text {
                    width: 100%;
                }
                input {
                    width: 90%;
                }
            }
        }
    }


    .fourth__section .wrapper {
        .fourth__section-block {
            width: 100%;
            height: 350px;
            .fourth__section-block-photo {
                height: 270px;
            }
            .fourth__section-block-info {
                font-size: 4vw;
            }
        }
        .fourth__section-block-header {
            font-size: 3.5vw;
        }

    }


    .six__section .wrapper .six__section-header {
        font-size: 3.3vw;
        left: 0;
    }

    .seventh__section .wrapper  {
        .seventh__section-header-wrap .seventh__section-header {
            width: 100%;
            font-size: 3.5vw;
        }
        .seventh__section-block-wrap .seventh__section-block {
            width: 100%;
            height: 70vw;
            &:nth-child(2n+1) {
                margin-right: 0;
            }
        }
        .last_wrap {
                    display: block !important;
                    .seventh__section-block {
                        width: 100% !important;
                    }
                }
    }
    .eighth__section .wrapper .eighth__section-header {
        font-size: 3vw;
    }

    .footer .wrapper .footer__block {
        height: 200px;
        .footer__block-item-contact {
            width: 100%;
            a {
                font-size: 5.5vw;
            }
        }
        &:nth-child(2) {
            padding-top: 50px;
        }
        &:nth-child(3) {
            width: 100%;
            padding-left: 0; 
            padding-top: 50px;
        }
        &:nth-child(3) {
            margin-top: 40px;
        }
    }
    .footer .footer__info {
        font-size: 3.5vw;
    }
    .footer .wrapper .footer__block .footer__block-item:first-child .footer__block-item-top:before {
        width: 50px;
        background-size: 50px;
        background-position: center;
        left: -45px;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
    }

}

@media screen and (max-width: 320px) {
    header .header__logo .header__logo-wrap .header__logo-item {
        a {
            font-size: 5.3vw;
        }
        &:last-child {
            width: 100%;
        }
    }

    .slider .slider__inner {
        width: 70vw;
    }

    .second__section .wrapper {
        height: 800px;
        .second__section-inner {
            .second__section-inner-header {
                font-size: 4vw;
            }
            .second__section-inner-slider{
                display: block;
                font-size: 12px;
                .second__section-inner-slider-text {
                    margin-bottom: 10px;
                }
            }
            .second__section-inner-info {
                display: none;
            }
            .second__section-inner-slider #slider {
                width: 100%;
                margin: 25px 0;
            }
        }
        .second__section-img {
            top: 590px;
        }
    }




    .fifth__section .wrapper .fifth__section-block .fifth__section-block-wrap {
        .fifth__section-block-inputs input {
            width: 100%;
        }
        button.calculate {
            width: 75%;
            margin: 20px 0;
        }
    }

    .footer .wrapper .footer__block .footer__block-item {
        .footer__block-item-bottom {
            font-size: 13px;
        }
        &:first-child {
            padding-left: 70px;
            text-align: left;
            font-size: 25px;
        }
        .footer__block-item-schedule {
            width: auto;
        }
    }

    .footer .wrapper .footer__block .footer__block-item:first-child .footer__block-item-top:before {
        background-size: 40px;
        background-position: 0px center;
        width: 50px;
        left: -55px;
    }
    .footer .wrapper .footer__block:nth-child(4) {
        width: 100%;
        padding-top: 85px;
    }

}