.slideshow-container{
	width: 100%;
	position: relative;
	margin: auto;
	height: 250px;
	overflow: hidden;
	padding-right: 1%;
	box-sizing: border-box;
	.action__section-arrow {
		position: absolute;
		background-image: url(../img/act-arrow.png);
		background-repeat: no-repeat;
		background-size: 98%; 
		width: 50%;
		height: 80px;
		top: calc(50% - 33px);
		right: -10px;
		font-family: "RobotoLight", sans-serif;
		padding-top: 2%;
		text-align: right;
		padding-right: 10px;
		font-size: 24px;
		z-index: 2;
		span {
			text-transform: uppercase;
			font-family: "RobotoBold", sans-serif;
		}
	}
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;	
}

.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);	
}

.mySlides{
	height: 250px;
	text-align: center;
	position: relative; 
	&:nth-child(2){
		display: none;
	}
	&:nth-child(3){
		display: none;
	}
	img {
		height: 250px;
	}
	.dots {
		position: absolute;
		bottom: 15px;
		left: 35px;
		text-align: center;
		margin-top: 60px;
	}
	.slider-text {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -13px;
		z-index: 3;
		font-family: "RobotoLight", sans-serif;
		text-align: right;
		font-size: 23px;
		span {
			text-transform: uppercase;
			font-family: "RobotoBold", sans-serif;
		}
            
	}
}

.text{
	color: #f2f2f2;
	font-size: 20px;
	padding: 8px 12px;
	position: relative;
	bottom: 90px;
}

.dot{
	cursor: pointer;
	height: 5px;
	width: 15px;
	margin: 0 2px;
	background-color: #fff;
	display: inline-block;
	transition: background-color 0.6s ease;	
	border: 1px solid  #fff;
	box-sizing: border-box;
}

.active, .dot:hover{
	background-color: transparent;
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: .1s; 
	animation-name: fade;
	animation-duration: .1s;	
}

@-webkit-keyframes fade {
	from{opacity:.4}
	to{opacity: 1}	
}
@keyframes fade {
	from{opacity:.4}
	to{opacity: 1}	
}

/* -------- slider --------- */
.slider {
    /* height: 400px; */
    /* background-size: 100%; */
    .slider__inner {
        min-height: 100%;
        background-color: rgba(255,255,255,.8);
        width: 30%;
        position: absolute;
        z-index: 1;
        transform: skewX(15deg);
        right: 15%;
        text-transform: uppercase;
        .slider__inner-top-text {
            font-size: 30px;
            transform: skewX(-15deg);
            text-align: center;
            margin-top: 100px;
            font-family: "RobotoBlack", sans-serif;
        }
        .slider__inner-text {
            transform: skewX(-15deg);
            font-size: 25px;
            font-family: "RobotoLight", sans-serif;
            text-align: center;
            margin-top: 20px;
        }
        .slider__inner-button {
            transform: skewX(-15deg);
            text-align: center;
            margin-top: 20px;
            button {
                border: 1px solid  #0068ba;
                background: none;
                text-transform: capitalize;
                color: #0068ba;
                height: 40px;
                width: 150px;
                font-size: 20px;
                font-family: "RobotoLight";
                transition: border .5s;
                &:hover {
                    background: #0068ba;
                    color: #fff;
                }
            }
		}
		.dots {
			position: absolute;
			bottom: 15px;
			left: calc(50% - 35px);
			text-align: center;
			margin-top: 60px;
		}
    }
		/* .dots {
			position: absolute;
			text-align: center;
			margin-top: 60px;
			transform: skewX(15deg);
			bottom: 20px;
			right: 22vw;
			z-index: 2;
		} */
}











	
	
	
	
	
	
	
	
	
	
	